// Font 字体大小
$font-size-xs = 10px;
$font-size-sm = 12px;
$font-size-md = 14px;
$font-size-lg = 16px;

// Button
$button-mini-width = 36px;
$button-mini-height = 24px;
$button-mini-paddingLR = 9px;
$button-mini-font-size = $font-size-xs;
$button-small-width = 50px
$button-small-height = 32px
$button-small-paddingLR = 12px;
$button-small-font-size = $font-size-sm;
$button-large-width = 78px
$button-large-height = 50px
$button-large-paddingLR = 19px;
$button-large-font-size = $font-size-lg;
$button-normal-width = 50px
$button-normal-height = 36px
$button-normal-paddingLR = 12px;
$button-normal-font-size = $font-size-md;

